<!DOCTYPE html>
<html lang="es">

<head>
    {% include '\..\parts/head.view.twig' %}
    <link rel="stylesheet" href="/assets/styles/compra.css" />
</head>

<body>
    <!--HEADER-->
    {% include '\..\parts/header.view.twig' %}

    <main>
        <form>
            <h1>Estás a un paso de terminar la compra</h1>
            <ul>
                <li>
                    <p>Nombre</p>
                    <p>Descripción</p>
                    <p>Precio</p>
                    <p>Notas</p>
                    <p>Cantidad: ...</p>
                </li>
                <li>
                    <p>Nombre2</p>
                    <p>Descripción2</p>
                    <p>Precio2</p>
                    <p>Notas</p>
                    <p>Cantidad: ...</p>
                </li>
            </ul>
            <h2>Forma de pago: ...</h2>
            <h2>Enviar a/Retirar por: ...</h2>
            <h2>Total: $$$</h2>
            <a>Confirmar pedido</a>
        </form>
        <a href="./carrito">Volver al carrito</a>
    </main>

    <!--FOOTER-->
    {% include '\..\parts/footer.view.twig' %}
</body>

</html>
