<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'parts/head.view.twig' %}
  <link rel="stylesheet" href="/assets/styles/compra.css" />
</head>

<body>
  <!--HEADER-->
  {% include 'parts/header.view.twig' %}

  <!--CODIGO DE MENU-->
  <main>
    <header class="header-menu menu-background">
      <h1 class="menu-titulo">Menu</h1>
    </header>
    <h2 class="titulo-comida">¡PLATO AGREGADO!</h2>
    <section class="seccion-comida">

      <article class="article-comida">
        <h3>{{ plato.nombre }}</h3>
        <figure class="figura-hamburguesa">
          <img class="comida-imagen" src="/assets/platos/{{ plato.imagen }}" alt="Imagen plato agregado" width="500" />
          <figcaption class="descripcion-comida">{{ plato.descripcion }}</figcaption>
        </figure>
        <p class="precio-comida">${{ plato.precio }}</p>
      </article>
    </section>

  </main>

  <!--FOOTER-->
  {% include 'parts/footer.view.twig' %}
</body>

</html>
