/* HEADER */

.header-menu{
    padding: 1rem;
    background-image: url(../../assets/hamburguesa1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-menu h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 3.5rem;
}

/* Titulos H2 */

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}

/*-------------MENU-----------------*/

/* Comida del mes */
.menu-comida{
    display: grid;
    grid-template-areas:
        'titulo titulo'
        'imagen imagen'
        'precio pedir';
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/*Menu */
#menuHamburguesa{
    display: inline-block;
}

.figura-hamburguesa{
    grid-area: imagen;
}

.figura-hamburguesa figcaption{
    text-align: center;
}

.menu-comida>h3{
    grid-area: titulo;
}

.hamburguesa-comida-mes{
    grid-area: imagen;
}

.pedir-comida{
    grid-area: pedir;
}

.precio-comida{
    grid-area: precio;
}

.descripcion-comida {
    grid-area: descripcion;
}
