@font-face {
    font-family: "Century Gothic";
    src: local("Century Gothic"),
      url("../font/century_gothic.ttf") format("truetype");
  }


h2 {
    color:#fbad18;
    text-transform: uppercase;
    padding:0.5rem;
}

/* acomodar separación de H2 con respecto a su section y p interno
    separar textos p de ambos lados, izquierdo y derecho de los sections
*/

.misionesValores{
    background-color: #ffffff;
    width: 100%; /* Ancho del contenedor del 100% del ancho del viewport */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.equipoTrabajo{
    background-color: #ffffff;
    width: 100%; /* Ancho del contenedor del 100% del ancho del viewport */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */

}

p {
    font-family: "Century Gothic" ;
    padding: 0.2rem;
    font-size: 1.2rem; /* Tamaño de fuente en rems */
    line-height: 1.6; /* Altura de línea */
    text-align: justify; /* Justificar el texto dentro del contenedor */
}
