<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'parts/head.view.twig' %}
  <link rel="stylesheet" href="/assets/styles/institucional.css" />
</head>

<body>
  <!--HEADER-->
  {% include 'parts/header.view.twig' %}

  <main>
    <!--CODIGO DE SERVICIO AL CLIENTE-->
    <header class="header-institucional serv-cliente">
      <h1>SERVICIO AL CLIENTE</h1>
    </header>

    <section class="faq">
      <h2>FAQ</h2>
      <article>
        <h3 class="preguntas">Q1</h3>
        <p class="p-institucional">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          quisquam natus iste dolores voluptate fugit laborum id! Officiis
          perferendis incidunt assumenda consectetur in error voluptatum,
          maiores accusantium, ab dignissimos animi.
        </p>
      </article>
      <article>
        <h3 class="preguntas">Q2</h3>
        <p class="p-institucional">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          quisquam natus iste dolores voluptate fugit laborum id! Officiis
          perferendis incidunt assumenda consectetur in error voluptatum,
          maiores accusantium, ab dignissimos animi.
        </p>
      </article>
    </section>

    <section class="informacionContacto">
      <h2 class="infoContactotitulo">Información de contacto</h2>
      <p class="correo">Correo: contacto@pawpower.com</p>
      <p class="numero">Número: +123456789</p>
      <p class="ubi">Ubicación: Calle Falsa 123, Ciudad, País</p>
    </section>
  </main>

  <!--FOOTER-->
  {% include 'parts/footer.view.twig' %}
</body>

</html>
