/*
    Style utilizado en app.js para darle estilo al carousel dinámico
*/
.carousel-home {
    position:relative;
    width: 80%;
    margin: auto ;
    overflow: hidden;
}

.carousel-home > h2{
    font-size: 2rem;
}

.images {
    display: flex;
    transition: transform 0.5s ease;
}

.images li{
    flex: 0 0 100%;
    list-style: none;
}

.images img{
    width: 100%;
    height: auto;
}

/*Barra de progreso, botones sig y ant, los indicators*/

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.indicators li {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicators li.active {
    background-color: #333;
}

.progressbar {
    width: 100%;
    height: 10px;
    background-color: #e7710f;
    margin-top: 10px;
}

.prev-button {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 1;
}

.next-button {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 1;
}