/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
.header-principal {
  background-color: #333; 
  color: white; 
  padding: 1rem; 
  text-align: center; 
}

.logo {
  width: 150px;
}

/* Estilos para el contenedor principal */
.main {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}

/* Estilos para el título de la hora */
.hora {
  text-align: center; 
  margin-top: 20px; 
}

/* Estilos para la sección de pedidos */
.pedidos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 10px; 
}

/* Estilos para cada artículo de pedido */
.pedido {
  width: calc(33.33% - 20px); 
  background-color: #333; 
  color: white;
  padding: 20px; 
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}

/* Estilos para el título del pedido */
.cabeceraPreparacion, .cabeceraListo {
  color: white; 
  text-align: center; 
  padding: 10px; /
  margin-bottom: 10px; 
}
.cabeceraListo{
  background-color: #3DFA45;
}
.cabeceraPreparacion{
  background-color: #fbad18;
}
/* Estilos para la lista de items */
.items {
  margin-bottom: 10px; 
}

/* Estilos para cada item */
.item {
  list-style: none; 
  padding: 5px 0; 
  border-bottom: 1px solid #bcbcbc ;
}

/* Estilos para el botón */
.pedido a  {
  display: block; 
  width: 70%; 
  text-align: center; 
  padding: 10px; 
  background-color: #2aa736 ; 
  color: white; 
  text-decoration: none; 
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
  position: relative; 
  left: 50%;
  transform: translateX(-50%); 
}

.pedidos article a:hover {
  background-color: #336633;
}


