@import url(reset.css);

/* Fuente a utilizar */
@font-face {
  font-family: "Black regular";
  src: url("../font/ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"),
    url("../font/century_gothic.ttf") format("truetype");
}

/* Estilo basico del sitio en raiz */
:root {
  /*Colores a utilizar*/
  --color-principal: #fbad18;
  --color-principal-claro: #fddf8a;
  --color-secundario: #231f20;
  --color-letras: #000000;
  --color-terceario: #ffffff;

  /*Fuentes*/
  font-family: "Black regular";
  font-size: 16px;

  background: radial-gradient(
    circle,
    var(--color-principal-claro) 10%,
    var(--color-principal) 100%
  );

  min-height: 40vh;
}

/* --------------------------
           HEADER
-----------------------------*/

.header-principal {
  background-color: var(--color-secundario);
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: left;
  align-items: left;
}

/*Ubicacion del logo*/
.header-principal > h1 {
  flex-basis: 80%;
  text-align: center;
}

.logo {
  width: 13rem;
}
.section-turnera {
  display: flex;
  justify-content: center; 
  align-items: center;
}
.section-turnera > * {
  height: 500px;
}
.section-retiros,
.pedido-estado {
  margin: 10px; 
}

.section-retiros {
  background-color: black;
  color: var(--color-principal-claro);
  margin: 5px;
  width: 65%;
}

.section-retiros > article{
  text-align: center;
  font-size: 3em;
}

.section-retiros > article:first-of-type {
  /*font-size: 5em;*/
  /*probando estilo y animación primer pedido listo
  */
  background: linear-gradient(90deg, rgba(115,213,130,1) 14%, rgba(35,199,35,1) 44%, rgba(115,227,0,1) 79%);
  -webkit-background-clip: text; /* Permite que el gradiente sea visible solo donde hay texto */
  -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente para que el gradiente sea visible */
  animation: animacion-destacar 5s infinite;
}

.retiro {
  background-color: var(--color-terceario);
  color: black;
  font-size: xx-large;
  margin: 5px;
  padding: 5px;
}
.pedido-estado {
  height: 500px;
  }
.pedido-estado table {
  border-collapse: separate;
  border-spacing: 0 10px;
  background-color: black;
  color: var(--color-terceario);
  padding: 10px;
  
}

.pedido-estado td,
.pedido-estado th {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.listo {
  color:  rgba(35,199,35,1) ;
}

.prep {
  color: var(--color-principal);
}


@keyframes animacion-destacar {
  0% {
    font-size: 5em; /* Tamaño inicial grande */
  }
  25% {
    font-size: 6em; /* Crecimiento gradual */
  }
  50% {
    font-size: 7em; /* Tamaño máximo */
  }
  75% {
    font-size: 6em; /* Decrecimiento gradual */
  }
  100% {
    font-size: 5em; /* Volver al tamaño inicial */
  }
}

