<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parts/head.view.twig' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/components/paw.js"></script>
    <script src="/assets/js/appTurnera.js"></script>
    <link rel="stylesheet" href="/assets/styles/turnos.css" />
</head>
<body>
    <main>
        <header class="header-principal">
            {% set home = rutasLogoHeader %}
            <a href="{{ home['href'] }}">
                <img src="../assets/Imagotipo-blanco.png" alt="Paw Power" class="logo" />
            </a>
        </header>

        <section id="pedidos">
            <h2>Pedidos</h2>
            <section class="section-turnera">
                <section class="section-retiros">
                    <div class="retiro">
                        <h2>A RETIRAR</h2>
                    </div>
                </section>

                <section class="pedido-estado">
                    <!-- tabla -->
                    <table>
                        <tr>
                            <th>Pedido</th>
                            <th>Estado</th>
                        </tr>
                    </table>
                </section>
            </section>
        </section>
    </main>
</body>
</html>