<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'parts/head.view.twig' %}
  <link rel="stylesheet" href="/assets/styles/global.css" />
  <link rel="stylesheet" href="/assets/styles/formularios.css">
</head>

<body>
  <!--HEADER-->
  {% include 'parts/header.view.twig' %}

  <main class="login-usuario">
    <!--Codigo logout-->
    {% if hayLogin %}
      <p>Usted está logueado</p>
      <p>{{ hayLogin }}</p>
      <p><a href ="./logout">Cerrar sesión</a></p>
    {% else %}
    <!--Codigo login-->
    {{ hayLogin }}
    <h1 class="login">Iniciar sesión</h1>
    <form method="POST" class="form-login" action="/cuenta/login">
      <label for="inputCorreo">
        Correo Electrónico
        <input type="email" id="inputCorreo" name="email" required />
      </label>
      <label for="inputPassword">
        Contraseña
        <input type="password" id="inputPassword" name="contraseña" required />
      </label>
      <!--Errores posibles a la hora de registrar -->
      {% if errorMessage is defined %}
        <p class="error-message">{{ errorMessage }}</p>
      {% endif %}
      
      <input name="login" type="submit" value="login" />
    </form>

    <a class="registrarse-enlace" href="./registrarse">Registrarse</a>

    {% endif %}
    {% if usuario_no_encontrado is defined %}
     <h2 class="usuarionoencontrado">Usuario no encontrado</h2>
    {% endif %}
  </main>

  <!--FOOTER-->
  {% include 'parts/footer.view.twig' %}
</body>

</html>
