
main ~ ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
}
h1{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}
section {
    margin-top: 20px; 
    text-align: center;
    max-width: 10rem; 
}

 #reportesList, #pedidosList{
    list-style-type: none;
    
    background-color: #000; 
    margin: 1rem;
    padding: 1rem;
}

li {
    margin-bottom: 10px; 
}
h2{
    color:#000;
}
p{
    color:#fff;
}