/*----------estilos "carrusel simulado"----------*/

h1, h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: #000000; 
  display: block;
}
a:hover {
  text-decoration: underline;
}
section.carrusel > h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: auto;
}

section.carrusel {
  overflow-x: auto; /* Permitir desplazamiento horizontal si el contenido es más ancho que el contenedor */
  white-space: nowrap; /* Evitar que las imágenes se envuelvan a la siguiente línea */
}

.carrusel figure {
  display: inline-block;
  white-space: normal; /* Restaurar el comportamiento de envoltura de texto normal */
}

.carrusel figure img {
  width: 100%;
}
.carrusel figcaption {
  text-align: center;
}

/*----------estilos secciones pedir y reserva en home----------*/

#pedirMain,
#reservarMesaMain {
  background-color: #9d4e4e;
  border-radius: 0.8rem;
  margin: 2rem;
  padding: 0.8rem;
  text-align: center;
  color: #000000;
  width: 35%;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 5rem;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
  box-shadow:  8px 8px 36px #5a5a5a,
              -8px -8px 36px #ffffff;
}

#pedirMain img,
#reservarMesaMain img {
  max-width: 50%;
}

#pedirMain a,
#reservarMesaMain a {
  /*Transformar anchors en botones*/
  display: block; /* Convertir el enlace en un bloque */
  background-color: #231F20;
  color: #ffffff;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
  margin-left: auto;
}

/*----------estilos seccion novedades en home----------*/

#novedades,
#menuHamburguesa
 {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

 article {
  background-color: fbad18;
  margin: 1rem;
  border-radius: 0.7rem;
  flex: 1;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow:  8px 8px 36px #5a5a5a,
              -8px -8px 36px #231F20;
  background-color: white;
}

 article h5 {
  padding: 0.2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #231F20;
}

 article figure {
  margin-top: 0.8rem;
  border-color: #231F20;
}

 article img {
  max-width: 100%;
  border-radius: 0.3rem;
}

 article figcaption {
  margin-top: 0.8rem;
  color: #231F20;
  font-family: "Century-Gothic";
}

/* ------------- MENU ---------------- */

/*------------- HEADER MENU  -----------------*/
.header-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  background-image: url(../../assets/hamburguesa1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-menu h1 {
  text-transform: uppercase;
  color: white;
  font-size: 3.5rem;
  text-shadow: 0 0 3px black;
}

/* ------------ COMIDA DEL MES ---------*/

.titulo-comida {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

/*------------- MENU -----------------*/

/* Cada articulo comida - Display grid! */
article.article-comida, article.article-comida-mes{
  display: grid;
  grid-template-areas:
      'titulo titulo'
      'imagen imagen'
      'precio pedir';
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 300rem;
  border-radius: 8px;
  background: #ffffff;
  box-shadow:  -5px 5px 10px #d4d4d4,
              5px -5px 10px #ffffff;
}

/* COMIDA DEL MES */

article.article-comida-mes{

  grid-template-rows: 10% auto auto;
  grid-template-columns: 50% 50%;
}

.seccion-comida-mes{
  display: flex;
  margin: 0 auto;
}


/* Posicionamiento del contenido de los articulos con grind area y estilos a cada elemento */

.figura-hamburguesa, .comida-imagen{
  grid-area: imagen;
}

.pedir-comida{
  padding: 0.5rem 2rem;
  grid-area: pedir;
  text-decoration: none;
  border-radius: 50px;
  color: #000000;
  background-color: #fbad18;
}

.precio-comida{
  grid-area: precio;
}

.descripcion-comida {
  grid-area: descripcion;
  font-family: "Century Gothic";
}

/* Titulo de la comida */

article>h3{
  grid-area: titulo;
  text-transform: capitalize;
  text-align: center;
  padding: 0;
  margin: 0;
}

.figura-hamburguesa figcaption{
  text-align: center;
}

/* Secciones (ej: Hamburguesas) - Display flex! */

.seccion-comida{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}




