@import url(reset.css);

/* Fuente a utilizar */
@font-face {
  font-family: "Black regular";
  src: url("../font/ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"),
    url("../font/century_gothic.ttf") format("truetype");
}

/* Estilo basico del sitio en raiz */
:root {
  /*Colores a utilizar*/
  --color-principal: #fbad18;
  --color-principal-claro: #fddf8a;
  --color-secundario: #231f20;
  --color-letras: #000000;
  --color-terceario: #ffffff;

  /*Fuentes*/
  font-family: "Black regular";
  font-size: 16px;

  background: radial-gradient(
    circle,
    var(--color-principal-claro) 10%,
    var(--color-principal) 100%
  );

  min-height: 40vh;
}

/* --------------------------
           HEADER
-----------------------------*/

.header-principal {
  background-color: var(--color-terceario);
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Ubicacion del logo*/
.header-principal > h1 {
  flex-basis: 80%;
  text-align: center;
}

.logo {
  width: 13rem;
}

.icono-carrito,
.icono-usuario {
  flex-basis: 5%;
  padding: 0rem 1rem;
  width: 2.2rem;
  cursor: pointer;
}

/* ----------- Menu hamburguesa ------------------ */
.menu {
  flex-basis: 10%;
  position: relative;
}

.icono-menu {
  width: 2.2rem;
  cursor: pointer;
}

.lista-desplegable {
  display: none; /*Ocultar la lista por defecto*/
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--color-secundario); /*Color de fondo*/
  padding: 1rem; /*Espacio interno*/
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); /*Sombra de la lista*/
  z-index: 1; /*Asegura que este por arriba de otros elemntos*/
  white-space: nowrap; /*Evita que el texto se divida en varias lineas*/
}

/*Por elemento*/
.lista-desplegable li {
  margin-bottom: 1rem; /*Espacio entre elementos*/
  /*list-style-type: none;*/
}

/*Por enlaces*/
.lista-desplegable a {
  text-decoration: none;
  color: var(--color-terceario);
  transform: color 0.3s;
  text-align: left;
}

/*Pasar por arriba del enlace*/
.lista-desplegable a:hover {
  color: var(--color-principal);
}

/*Mostrar lista cuando pase el raton por encima*/
.menu:hover .lista-desplegable {
  display: block; /*Muestra la lista*/
}

/* --------------------------
           FOOTER
-----------------------------*/

footer {
  background-color: var(--color-terceario);
  background-image: url("../assets/Imagotipo.svg");
  background-position: center;
  background-size: 20em;
  background-repeat: no-repeat;
}

/*Enlaces + Redes */
footer nav ul.links,
footer nav ul.redes {
  display: flex;
  justify-content: center;
}

/* Enlaces */
footer nav ul.links li {
  margin: 1rem;
  font-size: 1rem;
}

footer nav ul.links li a {
  color: black;
  text-decoration: none;
}

footer nav ul.links li a:hover {
  color: var(--color-principal);
}

/* Redes */
footer nav ul.redes li {
  margin: 11rem 1rem 2rem 1rem;
}

footer nav ul.redes li img {
  width: 2rem;
}

/* CopyRight*/
#copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
