@import url(reset.css); 

/* Fuente a utilizar */
@font-face {
    font-family: "Black regular";
    src: url("../font/ArchivoBlack-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Century Gothic";
    src: local("Century Gothic"),
      url("../font/century_gothic.ttf") format("truetype");
  }

:root{
    font-family: "Black regular";
    font-size: 16px;

}